.sidebar {
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-right: 1px solid var(--mat-sys-outline-variant, #e0e0e0);
  background: var(--mat-sys-surface, #ffffff);
  transition: width 0.2s ease;
  overflow-x: hidden;

  &.collapsed {
    width: 52px;
  }

  .sidebar-header {
    display: flex;
  }

  .sidebar-search {
    margin-top : 15px;
    margin-right : 10px;
    margin-left : 5px;
    font-size: 12px;
  }
}

.collapse-toggle {
  align-self: flex-start;
  margin-top: 15px;
  margin-right: 7px;
  margin-left: 7px;
}

.tree-node:has(.active-link ) {
  background: var(--mat-sys-secondary-container, #e8def8);
}

.tree-node:has(.highlighted) {
  font-style: bold;
  border: 1px solid red;
  background-color: yellow;
}

.nav-tree {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 4px 0 8px;
  background: transparent;
}

.tree-node {
  min-height: 40px;
  border-radius: 0 20px 20px 0;
  margin-right: 8px;

  &:hover {
    background: var(--mat-sys-surface-container-highest, #e6e0e9);
  }
}

.tree-branch {
  display: flex;
  align-items: center;
}

.tree-leaf {
  display: flex;
  align-items: center;
  min-height: 40px;
  width: 100%;
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  ::before {
    content: '';
    background-color: currentColor;
    display: inline-block;
    color : rgb(73, 69, 78);
    margin-left: 15px; 
    margin-right: 15px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
  }

}

.tree-label {
  display: inline-block;
  max-width: 256px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 0.875rem;
}
